*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* general style */

.btn-blue{
    background-color: #0061ff;
    padding: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.nav-bar{
    max-width: 100%;
    line-height: 48px;
}

.nav-left a, .nav-right a{
    color: black;
    text-decoration: none;
}

.nav-left li, .nav-right li{
    display: inline-block;
    padding: 15px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.logo{
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 83px;
    vertical-align: middle;
    float: left;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

.nav-right .btn-blue a{
    color: white;
}

.nav-main{
    background-color: #b4d0e7;
}

.width{
    max-width: 80%;
    margin: 0 auto;
}

.title{
    font-size: 60px;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.text-p{
    width: 30%;
    padding-bottom: 11rem;
    float: left;
}

.text-p p{
    padding-bottom: 2rem;
}

.btn a{
    background-color: #0061ff;
    color: white;
    max-width: 200px;

    text-decoration: none;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
}

/* da regolare */
.arrow{
    
}

.text-p span{
    padding-top: 1rem;
    display: block;
}

.img-nav img{
    width: 800px;
}

.img-nav{
    max-width: 70%;
    margin-bottom: -10em;
    float: left;

    box-shadow: 0px 10px 5px #ccc; ;
}


/* section table */


.table{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 13rem;

}

.table h2, .table .circle-text{
    margin-left: 2rem;
}

.table h2{
    font-size: 40px;
    padding-bottom: 5rem;
}

.circle-text{
    margin-bottom: 2rem;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.blue{
    border: 5px solid #0061ff;
}

.white{
    border: 1px solid grey;
    margin-left: 1.5rem;
}

/* column */


.col{
    max-width: calc(100% / 3 - 4rem);
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid gray;
}

.col span{
    margin-top: 2rem;
    display: block;
}

.border{
    text-align: center ;   
    line-height: 40px;
    border-bottom: 1px solid gray;
    margin-top: 0;
}

.col h3{
    font-size: 25px;
    margin-top: 3rem;
}

.col-inside{
    font-size: 15px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.btn-two{
    background-color: #0061ff;
    text-align: center;
    padding: .5rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
} 

.btn-two a{
    text-decoration: none;
    color: white;
}

span a{
    color: #0061ff;
}

.row{
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

.col-inside h4{
    margin-top: 3rem;
}

.col-inside h4{
    font-size: 16px;
    margin-bottom: 1rem;
}

.col-inside li{
    display: block;
    margin-bottom: 1.5rem;
}

.col-inside ul{
    /* margin-bottom: 10rem; */
}

.col{
    float: left;
}

.col-two{
    float: left;
}

.col-three{
    float: left;
}
