*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* general style */

.btn-blue{
    background-color: #0061ff;
    padding: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-bar{
    max-width: 100%;
    line-height: 80px;
}

.nav-left a, .nav-right a{
    color: black;
    text-decoration: none;
}

.nav-left li, .nav-right li {
    display: inline;
    margin: 0 15px;
}


.over a:hover{
    padding-bottom: 1.8rem;
    border-bottom: 2px solid black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.logo{
    margin-right: 1rem;
    margin-left: 1rem;
    float: left;
}

.nav-bar .logo img{
    vertical-align: middle;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

.nav-right .btn-blue a{
    color: white;
}

.nav-main{
    background-color: #b4d0e7;
}

.width{
    max-width: 80%;
    margin: 0 auto;
}

.title{
    font-size: 60px;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.text-p{
    width: 30%;
    margin-bottom: 11rem;
    float: left;
}

.text-p p{
    padding-bottom: 2rem;
}

.btn a{
    background-color: #0061ff;
    color: white;

    text-decoration: none;
    text-align: center;
    padding: .5rem;
    margin-right: 4rem;
    display: block;
}

.arrow a{
    color: black;
    margin-top: 2rem;
    font-size: 40px;
}

.text-p span{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.img-nav img{
    width: 800px;
    margin-bottom: -32em;
    box-shadow: 0px 10px 5px #ccc; ;
}

.img-nav{
    max-width: 70%;
    float: left;
}


/* section table */


.table{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 13rem;
    padding-bottom: 5rem;
}

.table h2, .table .circle-text{
    margin-left: 2rem;
}

.table h2{
    font-size: 40px;
    padding-bottom: 5rem;
}

.circle-text{
    margin-bottom: 2rem;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.blue{
    border: 5px solid #0061ff;
}

.white{
    border: 1px solid grey;
    margin-left: 1.5rem;
}

/* column */

.col{
    max-width: calc(100% / 3 - 4rem);
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid gray;
}

.col span{
    margin-top: 2rem;
    display: block;
}


.border{
    text-align: center ;   
    line-height: 40px;
    border-bottom: 1px solid gray;
    margin-top: 0;
}

h3{
    font-size: 25px;
    margin-top: 2rem;
}

h4{
    font-size: 16px;
}

.col-inside{
    font-size: 15px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}


.btn-two{
    background-color: #0061ff;
    text-align: center;
    padding: .5rem;
    margin: 3rem 1rem;
} 

.btn-two a{
    text-decoration: none;
    color: white;
}

span a{
    color: #0061ff;
}

.row{
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

.col-inside h4{
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.col-inside li{
    display: block;
    margin-bottom: 1.5rem;
}

.col-inside ul{
    margin-bottom: 8rem;
}

.col-one{
    padding-bottom: 2.8rem;
    float: left;
}

.col-two{
    float: left;
}

.col-three{
    float: left;
}

.table-or{
    max-width: 76%;
    height: auto;
    margin: 0 auto;
    border: 1px solid gray;
}

.text-tab{
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    position: relative;
}

.text-tab h4{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.text-tab span{
    display: block;
    padding-bottom: 2rem;
}

.office{
    font-size: 15px;
    background-color: #0061ff;
    line-height: 30px;
    padding-left: .6rem;
    padding-right: .6rem;
    position: absolute;
    top: 0;
    right: 0;
}

.office a{
    text-decoration: none;
    color: white;
}


/* section img + text */
.img-text{
    max-width: 76%;
    margin: 0 auto;
    margin-top: 10rem;
}

.img-man{
    width: 55%;
    float: left;
}

.side-text{
    width: 40%;
    float: right;
}

.side-text h3{
    margin-bottom: 3rem;
}

.side-text p{
    margin-bottom: 3rem;
}

.btn-border{
    width: 150px;
    text-align: center;
    padding: .6rem 1rem;
    border: 1px solid black;
}

.six-img{
    max-width: 76%;
    margin: 0 auto;
    margin-top: 10rem;
}

.six-img h2{
    font-size: 40px;
    margin-bottom: 3rem;
}

.box img{
    width: 100%;
    text-align: center;
}


.box{
    width: 30%;
    margin-top: 4rem;
    margin-right: 2rem;
    float: left;
}

.six-img h3{
    margin-bottom: 2rem;
}

.title-box{
    width: 76%;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 13rem;
}

.title-box h2{
    margin-bottom: 2rem;
}

.title-box span a{
    color:  #0061ff;
}

.title-box span{
    margin-bottom: 3rem;
}


/* squares left */

.item-box{
    width: 100%;
}

.box-left{
    width: 400px;
    float: left;
}

.item{
    width: 150px;
    text-align: center;
    display: block;
    float: left;
}

.green{
    background-color: #a2d39b;
    border: 10px solid #cee8ca;
}

.bordeaux{
    background-color: #61082b;
}

.cyan{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}


/* bot squares  */

.bot-squares{
    width: 100%;
    margin: 0 auto;
    background-color: #b4d0e7;
}

.text-squares{
    padding: 6rem 0;
    width: 76%;
    margin: 0 auto;
}

.text-squares h2{
    width: 40%;
    font-size: 40px;
    color: #61082b;
    display: inline-block;
}

.btn-white{
    background-color: white;
    padding: .7rem 1.5rem;
    float: right;
    text-decoration: none;
    color: black;
}

.question{
    width: 76%;
    margin: 0 auto;
}

.question h3{
    font-size: 24px;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.question span{
    display: block;
    padding: 2rem 0;
    border-bottom: 1px solid black;
}

.question span:first-child{
    border-top: 1px solid black;
}

/* footer */

.footer{
    width: 100%;
    margin: 0 auto;
    margin-top: 6rem;
    background-color: black;
}

.list{
    margin: 0 10rem;
    list-style: none;
}

.col-foot{
    padding-top: 5rem;
    padding-bottom: 6rem;
    float: left;
    width: 20%;
}

.list h4{
    color: white;
    font-size: 18px;
    margin-bottom: 2rem;
    padding-left: .3rem;
}

.inside-ul li{
    padding: .3rem;
}

.list ul li a{
    color: white;
    text-decoration: none;
}

.flag{
    margin-left: 10rem;
    padding-top: 2rem;
    font-size: 14px;
    color: white;
    border-top: 1px solid white;
}

.bi-triangle-fill{
    font-size: 8px;
}